<template>
  <section>
    <div v-if="editor">

        <b-notification v-if="error" type="is-warning">
          {{ error }}
        </b-notification>

        <b-field label="Titre de l'article" label-for="articleTitle">
          <b-input id="articleTitle" v-model="articleTitle"></b-input>
        </b-field>

        <b-field label="Résumé de l'article" label-for="articleSummary">
          <b-input id="articleSummary" maxlength="4294967295" type="textarea" placeholder="Ecrire le résumé..." v-model="articleSummary"></b-input>
        </b-field>

        <b-field label="Choisir une photo de couverture pour l'article">
          <b-field class="file is-secondary"  :class="{'has-name': !!file2}">
            <b-upload v-model="file2" class="file-label" rounded>
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Sélectionner une image de couverture</span>
              </span>
              <span class="file-name" v-if="file2">
                {{ file2.name }}
              </span>
            </b-upload>
          </b-field>
        </b-field>

      <hr>

      <b-button @click="editor.chain().focus().toggleBold().run()" :class="{ 'is-active': editor.isActive('bold') }" icon-right="format-bold" size="is-medium"/>
      <b-button @click="editor.chain().focus().toggleItalic().run()" :class="{ 'is-active': editor.isActive('italic') }" icon-right="format-italic" size="is-medium"/>
      <b-button @click="editor.chain().focus().toggleStrike().run()" :class="{ 'is-active': editor.isActive('strike') }" icon-right="format-strikethrough" size="is-medium"/>
      <b-button @click="editor.chain().focus().setParagraph().run()" :class="{ 'is-active': editor.isActive('paragraph') }" icon-right="format-section" size="is-medium"/>
      <b-button @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }" icon-right="format-title" size="is-medium"/>
      <b-button @click="editor.chain().focus().toggleBulletList().run()" :class="{ 'is-active': editor.isActive('bulletList') }" icon-right="format-list-bulleted-square" size="is-medium"/>
      <b-button @click="editor.chain().focus().toggleOrderedList().run()" :class="{ 'is-active': editor.isActive('orderedList') }" icon-right="format-list-numbered" size="is-medium"/>
      <b-button @click="editor.chain().focus().setHorizontalRule().run()" icon-right="minus" size="is-medium"/>
      <b-button @click="editor.chain().focus().setHardBreak().run()" icon-right="keyboard-return" size="is-medium"/>
      <b-button @click="editor.chain().focus().undo().run()" icon-right="undo" size="is-medium"/>
      <b-button @click="editor.chain().focus().redo().run()" icon-right="redo" size="is-medium"/>
      <b-button @click="addImage" icon-right="image" size="is-medium"/>
      
      <p class="subtitle is-6">Vous pouvez faire glisser les images une fois présente sur la page vers l'endroit souhaité.</p>

      <hr>

      <editor-content :editor="editor" />

      <hr>

    </div>
    <b-button @click="postArticle" class="is-secondary"><strong>Poster l'article</strong></b-button>
  </section>
</template>

<script>
import { Editor, EditorContent } from '@tiptap/vue-2'
import Document from '@tiptap/extension-document'
import Paragraph from '@tiptap/extension-paragraph'
import Text from '@tiptap/extension-text'
import Image from '@tiptap/extension-image'
import Dropcursor from '@tiptap/extension-dropcursor'
import StarterKit from '@tiptap/starter-kit'
import Heading from '@tiptap/extension-heading'

export default {
  
  components: {
    EditorContent,
  },

  data() {
    return {
      editor: null,
    }
  },

  methods: {
    addImage() {
      const url = window.prompt('Mettre ici le lien de l\'image')

      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run()
      }
    },
    async postArticle(){
      try {
        if(this.isUpdate){
          
          if(this.file2 !== null){
            let formData = new FormData();
            formData.append('image', this.file2);
            formData.append('folder', 'article');

            await this.$axios.post('articles/' + this.articleId + '/picture', formData, {
              headers: {'Content-Type': 'multipart/form-data'}
            });

            await this.$axios.put('articles/' + this.articleId, {
              title: this.articleTitle,
              summary: this.articleSummary,
              body: this.editor.html,
            })

            this.$router.go(-1);
          }else{

            await this.$axios.put('articles/' + this.articleId, {
              title: this.articleTitle,
              summary: this.articleSummary,
              body: this.editor.html,
            });

            this.$router.go(-1);
          }
        }else{
          let formData = new FormData();
          formData.append('picture', this.file2);
          formData.append('title', this.articleTitle);
          formData.append('summary', this.articleSummary);
          formData.append('body', this.editor.html);

          await this.$axios.post('articles', formData, {
            headers: {'Content-Type': 'multipart/form-data'}
          });

          this.$router.go(-1);
        }
      } catch (error) {
        this.error = error
      }
    }
  },
  async asyncData({ params, $axios }){
    try{
      const error = '';
      if(params.redaction == "redaction"){
        const content = `<p>Ici débute un nouvel article.</p>`;
        const file2 = null;
        const articleTitle = '';
        const articleSummary = '';
        const isUpdate = false;
        const articleId = null;
        return { error, content, file2, articleTitle, articleSummary, isUpdate, articleId }
      }else{
        const response = await $axios.get('articles/' + params.redaction);
        const content = response.data.article.body;
        const file2 = null;
        const articleTitle = response.data.article.title;
        const articleSummary = response.data.article.summary;
        const isUpdate = true;
        const articleId = response.data.article.id;
        return { error, content, file2, articleTitle, articleSummary, isUpdate, articleId }
      }
    } catch (error) {
      return { error }
    }
  },

  mounted() {
    this.editor = new Editor({
      extensions: [
        Document,
        Paragraph,
        Text,
        Image,
        Dropcursor,
        StarterKit,
        Heading.configure({
          HTMLAttributes: {
            class: 'title',
          },
        }),
      ],
      content: this.content,
      editorProps: {
        attributes: {
          spellcheck: 'false',
        },
      },
      onUpdate() {
        this.html = this.getHTML()
        // send the content to an API here
      },
    })
    this.editor.html = this.content;
  },

  beforeDestroy() {
    this.editor.destroy()
  },
}
</script>

<style lang="scss">
/* Basic editor styles */
  ul,
  ol {
    padding: 0 1rem;
  }

// Add in _slug.vue
  li{
    list-style: square;
  }
//
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    margin: 1rem 0;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }
/* Basic editor styles */
  .ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }
  
}
</style>