// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #F0CA14;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
//$primary-invert: white;
$primary-invert: findColorInvert($primary);
$secondary: #B33F18;
$secondary-light: findLightColor($secondary);
$secondary-dark: findDarkColor($secondary);
//$secondary-invert: white;
$secondary-invert: findColorInvert($secondary);
$accent: #198135;
$accent-light: findLightColor($accent);
$accent-dark: findDarkColor($accent);
//$accent-invert: white;
$accent-invert: findColorInvert($accent);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$black: $primary-invert;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "twitter" : (
            $twitter,
            $twitter-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "secondary": (
            $secondary,
            $secondary-invert,
            $secondary-light,
            $secondary-dark,
        ),
        "accent": (
            $accent,
            $accent-invert,
            $accent-light,
            $accent-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";