<template>
  <div>
    <b-navbar fixed-top spaced type="is-primary">
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/static/Logo enfants du rwanda-texte.png"
                    alt="Logo de l'association enfants du rwanda"
                >
            </b-navbar-item>
        </template>
        <template #start>
            <b-navbar-item v-for="(item, key) of items" :key="key" tag="div">
                <nuxt-link class="dark-text" :to="item.to" exact-active-class="is-active">
                  <strong> {{ item.title }} </strong>
                </nuxt-link>
            </b-navbar-item>
        </template>

        <template #end>
          <div v-if="isAuthenticated" class="buttons">
            <b-navbar-item tag="div">
              <b-button v-if="isHidden" tag="nuxt-link"
                to="connexion" exact-active-class="is-active" type="is-primary"> 
                <strong> {{ loggedInUser.pseudo }} </strong> 
              </b-button>
              <b-button v-else tag="nuxt-link"
                to="connexion" exact-active-class="is-active" type="is-white"> 
                <strong> {{ loggedInUser.pseudo }} </strong> 
              </b-button>
              <b-button type="is-danger" @click="logout"> <strong> Déconnexion </strong> </b-button>
            </b-navbar-item>
          </div>
          <div v-else class="buttons">
            <b-navbar-item tag="div">
              <b-button v-for="(item, key) of authItems" :key="key" tag="nuxt-link"
                :to="item.to" exact-active-class="is-active" type="is-white">
                <strong> {{ item.title }} </strong>
              </b-button>
            </b-navbar-item>
          </div>
        </template>
    </b-navbar>

    <div class="container column is-10">
        <nuxt />
    </div>

    <footer>
      <hr class='is-hidden-touch'>
      <div class="container">
        <div class="columns is-desktop has-text-left-touch">
          <b-collapse v-if="isHidden" class="column">
            <p class="card-header-title">
              Contacts
            </p>
          </b-collapse>
          <b-collapse v-if="isHidden" class="column">
            <p class="card-header-title">
              Partenaires
            </p>
          </b-collapse>
        </div>
      </div>
      <div class="container">
        <div class="columns is-desktop has-text-left-touch">
          <b-collapse v-if="!isHidden" class="column">
            <hr>
            <p class="card-header-title">
              Contacts
            </p>
            <hr>
          </b-collapse>
          <b-collapse class="column" :open="isHidden" aria-id="contentIdForA11y3">
            <div slot="trigger" slot-scope="props" class="card-header is-hidden-desktop is-shadowless" role="button" aria-controls="fc1">
              <p class="card-header-title">
                Association Enfants du Rwanda 
              </p>
              <a class="card-header-icon">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
              </a>
            </div>
            <h1 class='is-hidden-touch'><strong>Association Enfants du Rwanda</strong></h1>
            <div class="card-content">
              <ul class="content">
                <li><a class="secondary-color-text" href="http://enfantsdurwanda.eklablog.com/">Blog de l'association</a></li>
                <li><a class="secondary-color-text" href="mailto: enfantsdurwanda@gmail.fr">Adresse mail de l'association</a></li>
                <li class="secondary-color-text"><strong>Adresse : </strong>3 rue Edouard Traviès 44240 - Chapelle Sur Erdre</li>
                <li class="secondary-color-text"><strong>Téléphone : </strong>02 28 01 20 14</li>
              </ul>
            </div>
          </b-collapse>

          <b-collapse class="column" :open="isHidden" aria-id="contentIdForA11y3">
            <div slot="trigger" slot-scope="props" class="card-header is-hidden-desktop is-shadowless" role="button" aria-controls="fc2">
              <p class="card-header-title">
              Chantal BILAND
              </p>
              <a class="card-header-icon is-hidden-desktop">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
              </a>
            </div>
            <h1 class='is-hidden-touch'><strong>Chantal BILAND</strong></h1>
            <div class="card-content">
              <ul class="content">
                <li class="secondary-color-text">Présidente de l'association</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse v-if="!isHidden" class="column">
            <hr>
            <p class="card-header-title">
              Partenaires
            </p>
            <hr>
          </b-collapse>
          <b-collapse class="column" :open="isHidden" aria-id="contentIdForA11y3">
            <div slot="trigger" slot-scope="props" class="card-header is-hidden-desktop is-shadowless" role="button" aria-controls="fc3">
              <p class="card-header-title">
                Au Rwanda
              </p>
              <a class="card-header-icon is-hidden-desktop">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
              </a>
            </div>
            <h1 class='is-hidden-touch'><strong>Au Rwanda</strong></h1>
            <div class="card-content">
              <ul class="content">
                <li class="secondary-color-text"><strong>TIC : </strong>Tiberias Initiative for Children</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse class="column" :open="isHidden" aria-id="contentIdForA11y3">
            <div slot="trigger" slot-scope="props" class="card-header is-hidden-desktop is-shadowless" role="button" aria-controls="fc4">
              <p class="card-header-title">
                En France
              </p>
              <a class="card-header-icon is-hidden-desktop">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
              </a>
            </div>
            <h1 class='is-hidden-touch'><strong>En France</strong></h1>
            <div class="card-content">
              <ul class="content">
                <li class="secondary-color-text">La Chaîne des Amitiés Franco-Rwandaises</li>
              </ul>
            </div>
          </b-collapse>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  env: {
    baseURL: process.env.baseURL
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
  },
  data() {
    return {
      items: [
        {
          title: 'Accueil',
          to: { name: 'index' },
        },
        {
          title: 'Galerie',
          to: { name: 'galerie' },
        },
        {
          title: 'Blog',
          to: { name: 'blog' },
        },
      ],
      authItems: [
        {
          title: 'S\'inscrire',
          to: { name: 'inscription'},
        },
        {
          title: 'Se connecter',
          to: { name: 'connexion'},
        }
      ],
      isHidden: true,
    }
  },
  beforeDestroy () {
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  },

  mounted () {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },

  methods: {
    onResize () {
      this.isHidden = window.innerWidth >= 1024
    },
    async logout() {
      await this.$auth.logout().then(() => {
        message: 'Vous êtes desormais déconnecté(e)';
        type: 'is-info';
      })
    },
  },
}
</script>

<style>
  .card-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .secondary-color-text {
    color: #B33F18;
  }
  .dark-text {
    color: black;
  }
</style>