<template>
    <section :key="commentKey">

        <b-notification v-if="error" type="is-warning">
            {{ error }}
        </b-notification>

        <div class="has-text-centered">
            <p class="title is-1"> {{ this.article.title }} </p>
            <img :src="baseURL + this.article.picture" v-lazy-load/>
        </div><hr>
        <p> <span v-html="this.article.body"></span> </p><br>
        <p>Créer par {{ this.user.pseudo }} le {{ this.dateOfCreation }}</p><hr>

        <div v-if="isAuthenticated">
            <article v-if="loggedInUser.isMember == 1" class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img class="user" :src="baseURL + loggedInUser.picture">
                    </p>
                </figure>
                <div class="media-content">
                    <b-field>
                        <b-input maxlength="4294967295" type="textarea" placeholder="Ecrire un commentaire..." v-model="userComment"></b-input>
                    </b-field>
                    <div class="control">
                        <b-button type="submit" class="is-secondary" @click="comment"><strong>Envoyer</strong></b-button>
                    </div>
                </div>
            </article><hr v-if="loggedInUser.isMember == 1">
        </div>

        <div v-for="(comment, key) in articleComment" :value="comment.id" :key="key">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img class="user" :src="baseURL + usersPicture[comment.id_user]" v-lazy-load/>
                    </p>
                </figure>
                <div class="media-content">
                    <div v-if="comment.deleted_at == null" class="content">
                        <div v-if="!isModify[comment.id]">
                            <p>
                                <strong>{{ usersPseudo[comment.id_user] }}</strong> <small> {{ goodDate(comment.created_at) }} </small>
                                <br>
                                {{ comment.body }} <br v-if="comment.created_at !== comment.updated_at"> <small v-if="comment.created_at !== comment.updated_at"> modifié le {{ goodDate(comment.updated_at) }} </small><br>
                                <small v-if="isAuthenticated"><b-button v-if="loggedInUser.id == comment.id_user" type="is-ghost" @click="modifyComment(comment.id, comment.body)"><strong>Modifier</strong></b-button></small>
                            </p>
                        </div>
                        <div v-else>
                            <b-field>
                                <b-input maxlength="4294967295" type="textarea" placeholder="Ecrire un commentaire..." v-model="modifComment"></b-input>
                            </b-field>
                            <div class="control">
                                <b-button type="submit" class="is-secondary" @click="sendModif(comment.id)"><strong>Envoyer</strong></b-button>
                                <b-button class="is-primary" @click="undoModif(comment.id)"><strong>Annuler</strong></b-button>
                            </div>
                        </div>
                    </div>
                    <div v-else class="media-content">
                        <p>
                            <strong>{{ usersPseudo[comment.id_user] }}</strong> <small> {{ goodDate(comment.created_at) }} </small>
                            <br>
                            <I>[Message supprimé]</I>
                        </p>
                    </div>
                </div>
                <div v-if="comment.deleted_at == null" class="media-right">
                    <div v-if="isAuthenticated">
                        <button v-if="(loggedInUser.id == comment.id_user || loggedInUser.isAdmin == 1) && !isModify[comment.id]" class="delete" @click="deleteComment(comment.id)"></button>
                    </div>
                </div>
            </article><br>
        </div>

        <hr>
        <b-pagination
            :total="total"
            v-model="current"
            :range-before="rangeBefore"
            :range-after="rangeAfter"
            :order="order"
            :size="size"
            :simple="isSimple"
            :rounded="isRounded"
            :per-page="perPage"
            :icon-prev="prevIcon"
            :icon-next="nextIcon"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            @change="changePage">
        </b-pagination>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
    },
    data () {
        return {
            current: 1,
            perPage: 10,
            rangeBefore: 1,
            rangeAfter: 1,
            order: 'is-centered',
            size: '',
            isSimple: false,
            isRounded: false,
            prevIcon: 'chevron-left',
            nextIcon: 'chevron-right',
            max: 0,
            baseURL: process.env.baseURL,
            userComment: '',
            modifComment: '',
            commentKey: 0,
        }
    },
    async asyncData({ params, $axios, $dayjs }) {
        try {
            const slug = params.slug // En appelant /abc, le slug sera "abc".
            const response0 = await $axios.get('articles/comments/' + slug + '/count');
            const total = response0.data.nbComments;
            const response1 = await $axios.get('articles/' + slug);
            const article = response1.data.article;
            const response2 = await $axios.get('users/' + article.id_user);
            const user = response2.data.user;
            const dateOfCreation = $dayjs(article.created_at).format('YYYY-MM-DD HH:mm:ss');
            let limit = 10;
            let offset = 0;
            const response3 = await $axios.get('articles/comments/' + slug + "?limit=" + limit + "&offset=" + offset);
            const articleComment = response3.data.comments;
            const usersPseudo = [];
            const usersPicture = [];
            const isModify = [];
            for(let i = 0 ; i < articleComment.length ; i++){
                isModify[articleComment[i].id] = false
            }
            const nbUser = await $axios.get('users/count');
            limit = nbUser.data.nbUsers;
            offset = 0;
            const response4 = await $axios.get('users?limit=' + limit + '$offset=' + offset);
            const users = response4.data.users;
            const error = '';
            for(let i = 0 ; i < limit ; i++){
                let userI = users[i];
                usersPseudo[userI.id] = userI.pseudo;
                usersPicture[userI.id] = userI.picture;
            }
            return { article, user, dateOfCreation, articleComment, total, usersPseudo, usersPicture, isModify, error }
        } catch (error) {
            return {error}
        }
        
    },
    methods: {
        async comment() {
            try {
                await this.$axios.post('comments', {
                    id_article: this.article.id,
                    body: this.userComment
                })
                this.userComment = '';
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response0 = await this.$axios.get('articles/comments/' + this.article.id + '?limit=' + limit + '&offset=' + offset);
                this.articleComment = response0.data.comments;
                const response1 = await this.$axios.get('articles/comments/' + this.article.id + '/count');
                this.total = response1.data.nbComments;
                this.isModify = [];
                for(let i = 0 ; i < this.articleComment.length ; i++){
                    this.isModify[this.articleComment[i].id] = false;
                }
                this.commentKey++;
            } catch (error) {
                this.error = error;
            }
        },
        async changePage(){
            try {
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response2 = await this.$axios.get('articles/comments/' + this.article.id + '?limit=' + limit + '&offset=' + offset);
                this.articleComment = response2.data.comments;
                this.isModify = [];
                for(let i = 0 ; i < this.articleComment.length ; i++) {
                    this.isModify[this.articleComment[i].id] = false;
                }
            } catch (error) {
                this.error = error
            }
        },
        async deleteComment(id){
            try {
                await this.$axios.delete('comments/' + id);
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response3 = await this.$axios.get('articles/comments/' + this.article.id + '?limit=' + limit + '&offset=' + offset);
                this.articleComment = response3.data.comments;
                const response4 = await this.$axios.get('articles/comments/' + this.article.id + '/count');
                this.total = response4.data.nbComments;
                for(let i = 0 ; i < this.articleComment.length ; i++) {
                    this.isModify[this.articleComment[i].id] = false;
                }
                this.commentKey--;
            }catch (error) {
                this.error = error
            }
        },
        async getUser(id){
            try{
                const response3 = await this.$axios.get('users/' + id);
                return response3.data.user;
            }catch (error) {
                this.error = error
            }
        },
        goodDate(date){
            try{
                return this.$dayjs(date).format('YYYY-MM-DD HH:mm:ss');
            }catch (error) {
                this.error = error
            }
        },
        modifyComment(id, body){
            try{
                this.isModify[id] = true;
                this.modifComment = body;
                this.commentKey++;
            } catch (error) {
                this.error = error;
            }
        },
        async sendModif(id){
            try {
                await this.$axios.put('comments/' + id, {
                    body: this.modifComment
                })
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response3 = await this.$axios.get('articles/comments/' + this.article.id + '?limit=' + limit + '&offset=' + offset);
                this.articleComment = response3.data.comments;
                const response4 = await this.$axios.get('articles/comments/' + this.article.id + '/count');
                this.total = response4.data.nbComments;
                for(let i = 0 ; i < this.articleComment.length ; i++) {
                    this.isModify[this.articleComment[i].id] = false;
                }
                this.commentKey--;
            } catch (error) {
                this.error = error;
            }
        },
        undoModif(id){
            try {
                this.isModify[id] = false;
                this.modifComment = '';
                this.commentKey--;
            } catch (error) {
                this.error = error;
            }
            
        }
    }
}
</script>

<style scoped>
    .user {
        border-radius: 50%;
        object-fit: cover;
        height: 4em;
        width: 4em;
    }
    li{
        list-style: square;
    }
</style>