<template>
    <section>

        <b-notification v-if="error" type="is-warning">
            {{ error }}
        </b-notification>

        <div v-if="isAuthenticated">
            <div v-if="loggedInUser.isMember == 1" class="has-text-centered">
                <br>
                <b-button tag="nuxt-link"
                    to="redaction/redaction" exact-active-class="is-active" type="is-secondary" size="is-large" rounded>
                    <strong> Créer un article </strong>
                </b-button>
                <br><hr>
            </div>
        </div>

        <div class="columns is-multiline is-mobile" :key="articleKey">
            <div class="column is-half" v-for="(article, key) in articles" :value="article.id" :key="key">
                <nuxt-link :to="article.id" exact-active-class="is-active">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ article.title }}
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img :src="baseURL + article.picture" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                {{ article.summary }}  
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item"> <time> {{ article.created_at }} </time> </p>
                        </footer>
                    </div>
                </nuxt-link><br>
                <div v-if="loggedInUser != undefined" class="has-text-centered">
                    <b-button v-if="loggedInUser.id == article.id_user" @click="editArticle(article.id)"><strong>Modifier l'article</strong></b-button>
                    <b-button v-if="loggedInUser.isAdmin == 1 || loggedInUser.id == article.id_user" type="is-danger" @click="deleteArticle(article.id)"><strong>Supprimer l'article</strong></b-button>
                </div>
            </div>
        </div>

        <hr>
        <b-pagination
            :total="total"
            v-model="current"
            :range-before="rangeBefore"
            :range-after="rangeAfter"
            :order="order"
            :size="size"
            :simple="isSimple"
            :rounded="isRounded"
            :per-page="perPage"
            :icon-prev="prevIcon"
            :icon-next="nextIcon"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            @change="changePage">
        </b-pagination>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
    },
    data() {
        return {
            baseURL: process.env.baseURL,
            error: '',
            articles: [],
            total: 0,
            current: 1,
            perPage: 6,
            rangeBefore: 1,
            rangeAfter: 1,
            order: 'is-centered',
            size: '',
            isSimple: false,
            isRounded: false,
            prevIcon: 'chevron-left',
            nextIcon: 'chevron-right',
            articleKey: 0,
        }
    },
    async mounted() {
        try {
            const response1 = await this.$axios.get('articles/count');
            this.total = response1.data.nbArticles;
            let limit = this.perPage;
            let offset = (this.current-1)*limit;
            const response2 = await this.$axios.get('articles?limit=' + limit + '&offset=' + offset);
            this.articles = response2.data.articles;
            console.log(this.articles);
        } catch (err) {
            this.error = err.response.data.message
        }
    },
    methods: {
        async changePage() {
            try {
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response2 = await this.$axios.get('articles?limit=' + limit + '&offset=' + offset);
                this.articles = response2.data.articles;
            } catch (error) {
                this.error = error.response.data.message
            }     
        },
        async deleteArticle(id){
            try {
                await this.$axios.delete('articles/' + id);
                const response1 = await this.$axios.get('articles/count');
                this.total = response1.data.nbArticles;
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response2 = await this.$axios.get('articles?limit=' + limit + '&offset=' + offset);
                this.articles = response2.data.articles;
                console.log(this.articles);
                this.articleKey++;
            } catch (error) {
                this.error = error;
            }
        },
        editArticle(id){
            this.$router.push('redaction/' + id);
        }
    }
}
</script>

<style scoped>
    
</style>