<template>
    <section class="section">
        <div class="container">
            <p class="title has-text-centered">Informations Personnelles</p><br>

            <b-notification v-if="error" type="is-warning">
                {{ error }}
            </b-notification>

            <div class="columns">
                <div class="column">
                    <img :src='baseURL + loggedInUser.picture'>
                    <b-field label="Modifier la photo de profil">
                        <b-field class="file is-secondary"  :class="{'has-name': !!file2}">
                            <b-upload v-model="file2" class="file-label" rounded>
                                <span class="file-cta">
                                    <b-icon class="file-icon" icon="upload"></b-icon>
                                    <span class="file-label">Sélectionner un fichier à envoyer</span>
                                </span>
                                <span class="file-name" v-if="file2">
                                    {{ file2.name }}
                                </span>
                            </b-upload>
                        </b-field>
                    </b-field>
                    <b-button v-if="file2" type="is-secondary" @click="upload">Envoyer</b-button>
                </div>
                <div class="column">
                    <p class="title">{{ loggedInUser.pseudo }} <b-button @click="modifyPseudo" icon-right="pencil"/> </p><br v-if="!isModifyPseudo">
                    <form v-if="isModifyPseudo" method="post" @submit.prevent="sendModificationPseudo">
                        <b-field label="Nouveau nom d'utilisateur" label-for="newPseudo">
                            <b-input id="newPseudo" v-model="newPseudo"></b-input>
                        </b-field>
                        <div class="control">
                            <button type="submit" class="button is-secondary is-fullwidth">
                                <strong>Modifier</strong>
                            </button>
                        </div><br>
                    </form>
                    <p class="subtitle">Adresse mail : {{ loggedInUser.email }} <b-button @click="modifyMail" icon-right="pencil"/> </p>
                    <form v-if="isModifyMail" method="post" @submit.prevent="sendModificationMail">
                        <b-field label="Nouvelle adresse mail" label-for="newMail">
                            <b-input id="newMail" v-model="newMail" type="email"></b-input>
                        </b-field>
                        <b-field label="Vérifier le mot de passe" label-for="verifyPassword">
                            <b-input id="verifyPassword" v-model="verifyPassword" type="password" password-reveal></b-input>
                        </b-field>
                        <div class="control">
                            <button type="submit" class="button is-secondary is-fullwidth">
                                <strong>Modifier</strong>
                            </button>
                        </div><br>
                    </form>
                    <p class="subtitle">Nationalité : {{ loggedInUser.nationality }} <b-button @click="modifyNation" icon-right="pencil"/> </p>
                    <form v-if="isModifyNation" method="post" @submit.prevent="sendModificationNation">
                        <b-field label="Nouvelle nationalité" label-for="newNation">
                            <b-select expanded v-model="newNation" icon="earth">
                                <option
                                    v-for="nation in nationalities"
                                    :value="nation.code"
                                    :key="nation.id">
                                        {{ nation.name }}
                                </option>
                            </b-select>
                        </b-field>
                        <div class="control">
                            <button type="submit" class="button is-secondary is-fullwidth">
                                <strong>Modifier</strong>
                            </button>
                        </div><br>
                    </form>
                    <p class="subtitle">Mot de passe <b-button @click="modifyPassword" icon-right="pencil"/> </p>
                    <form v-if="isModifyPassword" method="post" @submit.prevent="sendModificationPassword">
                        <b-field label="Ancien mot de passe" label-for="verifyPassword">
                            <b-input id="verifyPassword" v-model="verifyPassword" type="password" password-reveal></b-input>
                        </b-field>
                        <b-field label="Nouveau mot de passe" label-for="newPassword">
                            <b-input id="newPassword" v-model="newPassword" type="password" password-reveal></b-input>
                        </b-field>
                        <div class="control">
                            <button type="submit" class="button is-secondary is-fullwidth">
                                <strong>Modifier</strong>
                            </button>
                        </div><br>
                    </form>
                </div>
            </div><br>

            <div v-if="loggedInUser.isAdmin == 1" class="has-text-centered">
                <b-button tag="nuxt-link"
                    to="users" exact-active-class="is-active" type="is-secondary" size="is-large" rounded>
                    <strong> Gérer les utilisateurs </strong>
                </b-button>
            </div> 

        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'
import countries from '@/assets/countries.json';
export default {
  middleware: 'auth',
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
  },
  data (){
      return {
          baseURL: process.env.baseURL,
          isModifyPseudo: false,
          isModifyMail: false,
          isModifyNation: false,
          newPseudo: '',
          newMail: '',
          newNation: '',
          nationalities: {},
          error: '',
          file2 : null,
          verifyPassword: '',
          newPassword: '',
          isModifyPassword: false
      }
  },
  methods: {
      modifyPseudo() {
        if(!this.isModifyPseudo){
            this.newPseudo='';
        }
        this.isModifyPseudo = !this.isModifyPseudo;
      },
       modifyMail() {
        if(!this.isModifyMail){
            this.newMail='';
            this.verifyPassword='';
        }
        this.isModifyMail = !this.isModifyMail;
      },
      modifyNation() {
        if(!this.isModifyNation){
            this.newNation='';
        }
        this.isModifyNation = !this.isModifyNation;
      },
      modifyPassword() {
          if(!this.isModifyPassword){
            this.newPassword='';
            this.verifyPassword='';
        }
        this.isModifyPassword = !this.isModifyPassword;
      },
      async upload(){
          try{
              let formData = new FormData();
              console.log(this.file2);
              formData.append('image', this.file2);
              formData.append('folder', 'user');

              const newPicture = await this.$axios.post('users/' + this.loggedInUser.id + '/picture', formData, {
                headers: {'Content-Type': 'multipart/form-data'}
            });

              const updatedUser = {...this.$auth.user}
              updatedUser.picture = newPicture.data.picture;
              this.$auth.setUser(updatedUser)

              this.file2 = null;
          }catch (error){
              this.error = error.response.data.message;
          }
      },
      async sendModificationPseudo(){
          try{
            const newPseudo = await this.$axios.put('users/' + this.loggedInUser.id, {
                pseudo: this.newPseudo
            });

            const updatedUser = {...this.$auth.user}
             updatedUser.pseudo = newPseudo.data.pseudo;
            this.$auth.setUser(updatedUser)

            this.newPseudo = '';
            this.isModifyPseudo = false;
          }catch(error){
              this.error = error.response.data.message;
          }
      },
      async sendModificationMail(){
          try{
            const verifyPassword = await this.$axios.post('users/verify', {
                password: this.verifyPassword
            });

            if(verifyPassword.data.isConnect) {
                const newMail = await this.$axios.put('users/' + this.loggedInUser.id, {
                    email: this.newMail
                });

                const updatedUser = {...this.$auth.user}
                updatedUser.email = newMail.data.email;
                this.$auth.setUser(updatedUser)

                this.newMail = '';
                this.isModifyMail = false;
            }
          }catch(error){
              this.error = error.response.statusText;
          }
      },
      async sendModificationNation(){
          try{
            const newNation = await this.$axios.put('users/' + this.loggedInUser.id, {
                nationality: this.newNation
            });

            const updatedUser = {...this.$auth.user}
            updatedUser.nationality = newNation.data.nationality;
            this.$auth.setUser(updatedUser)

            this.newNation = '';
            this.isModifyNation = false;
          }catch(error){
              this.error = error.data.message;
          }
      },
      async sendModificationPassword(){
          try{
            const verifyPassword = await this.$axios.post('users/verify', {
                password: this.verifyPassword
            });

            if(verifyPassword.data.isConnect) {
                const newPassword = await this.$axios.put('users/' + this.loggedInUser.id, {
                    password: this.newPassword
                });

                this.newPassword = '';
                this.isModifyPassword = false;
            }
          }catch(error){
              this.error = error.response.statusText;
              console.log(error);
          }
      }
  },
  async mounted() {
        try {
            this.nationalities = countries;
        } catch (err) {
            this.error = err;
        }
    },
}
</script>

<style scoped>
    img {
        border-radius: 50%;
        object-fit: cover;
        height: 10em;
        width: 10em;
    }
    .container #center-text {
        text-align: center;
    }
    
</style>