<template>
    <section>
        <b-notification v-if="error" type="is-warning">
            {{ error }}
        </b-notification>
        <div v-if="loggedInUser != undefined">
            <div v-if="loggedInUser.isAdmin == 1" class="column is-7 is-offset-4">
                <b-field label="Sélectionner une image à envoyer dans la galerie">
                    <b-field class="file is-secondary"  :class="{'has-name': !!file2}">
                        <b-upload v-model="file2" class="file-label" rounded>
                            <span class="file-cta">
                                <b-icon class="file-icon" icon="upload"></b-icon>
                                <span class="file-label">Sélectionner un fichier à envoyer</span>
                            </span>
                            <span class="file-name" v-if="file2">
                            {{ file2.name }}
                            </span>
                        </b-upload>
                    </b-field>
                </b-field>
                <b-button v-if="file2" type="is-secondary" @click="upload">Envoyer</b-button>
            </div>
            <hr v-if="loggedInUser.isAdmin == 1">
        </div>
        
        <div class="columns is-multiline is-mobile">
            <div class="column is-half" v-for="(image, key) in galerie" :value="image.id" :key="key">
                <img :src="baseURL + image.url" v-lazy-load/>
                <div v-if="loggedInUser != undefined" class="has-text-centered">
                    <b-button v-if="loggedInUser.isAdmin == 1" type="is-danger" @click="deleteImage(image.id)"><strong>Supprimer l'image</strong></b-button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
    },
    data (){
        return {
            baseURL: process.env.baseURL,
            error: '',
            file2: null,
            galerie: [],
        }
    },
    async mounted() {
        try {
            const response = await this.$axios.get('galerie');
            this.galerie = response.data.galerie;
        } catch (err) {
            this.error = error.response.data.message;
        }
    },
    methods: {
        async upload(){
            try{
                var formData = new FormData();
                console.log(this.file2);
                formData.append('image', this.file2);
                formData.append('folder', 'galerie');

                const newPicture = await this.$axios.post('galerie', formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                });

                console.log(newPicture);

                this.file2 = null;

                const response = await this.$axios.get('galerie');
                this.galerie = response.data.galerie;
            }catch (error){
                this.error = error.response.data.message;
            }
        },
        async deleteImage(id){
            try{
                await this.$axios.delete('galerie/' + id);

                const response = await this.$axios.get('galerie');
                this.galerie = response.data.galerie;
            }catch (error){
                this.error = error.response.data.message;
            }
        }
    }
}
</script>

<style scoped>
    
</style>