<template>
  <section class="section">

    <b-carousel :indicator-inside="false" :indicator-custom="true" indicator-custom-size="is-small">
        <b-carousel-item v-for="(item, i) in 9" :key="i">
            <figure class="image is-inline-block">
              <img class="slide" :src='"@/static/slide" + i + ".JPG"'>
            </figure>
        </b-carousel-item>
        <template #indicators="props">
            <img :src='"@/static/slide" + props.i + ".JPG"'>
        </template>
    </b-carousel><br>

    <div class="columns">

      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class=content>
              <img src="@/static/Logo enfants du rwanda-couleur.png">
              <p class="subtitle">
                Présentation de l'association Enfants du Rwanda
              </p>
              <p>
                <strong>Objectifs</strong><br>
                L’association ENFANTS DU RWANDA se propose d’apporter aide et assistance aux enfants rwandais, en liaison avec les structures déjà en place. Cette aide s'étend aux jeunes et aux femmes afin de leur donner une indépendance économique. Cette aide s'effectue par l'intermédiaire de parrainages et de micro crédits et aussi par le financement de constructions (ateliers de menuiserie et de couture, salle polyvalente d'une école de parents). Depuis mars 2012, en partenariat avec l'association rwandaise TIC, nous apportons notre soutien à des enfants handicapés et/ou de familles très pauvres de la région de KABUYE, dans la banlieue de KIGALI, la capitale. Soutien principalement dans les domaines de l'éducation et de la santé par le financement de la scolarisation et de la formation de 50 enfants et jeunes, de l'affiliation à une mutuelle de santé qui permet d'assurer opérations et soins.
              </p>
              <p>
                <strong>Engagements</strong><br>
                Nous nous engageons à assurer la sécurité physique, affective, alimentaire ainsi que l'éducation sociale, morale et scolaire des enfants que nous décidons d'aider. Nous avons été amenés à participer à la prise en charge de soins aux enfants et aux jeunes, et à l’aide aux adultes responsables d’enfants, ainsi qu'à épauler ponctuellement des jeunes parrainés qui ont terminé études ou formations.
              </p>
              <p>
                <strong>Actions</strong><br>
                Nous privilégions les actions vers des femmes pour leur permettre une indépendance économique, ce qui leur donne les moyens d'éduquer correctement leurs enfants et provoque une diminution du nombre d'enfants par femme (passé de 6,5 en 2007 à 4,1 en 2016). Ces actions vers des femmes n'interdisent pas des actions vers les garçons qui, désœuvrés, deviendraient des proies faciles pour les bandes. Dans tous les cas, nous travaillons en liaison avec des Rwandais (essentiellement des responsables associatifs) qui, mieux que quiconque, connaissent les réalités du terrain.
              </p><br>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-two-fifths">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              <strong>Carte de Kabuye, dans la banlieue de Kigali, au Rwanda</strong>
            </p>
          </header>
          <div class="card-image">
            <figure>
              <div id="map-wrap" style="height: 750px">
                <no-ssr>
                  <l-map class="map" :zoom=12 :center="[-1.8866304304145975, 30.060098387627583]">
                    <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
                    <l-marker :lat-lng="[-1.8866304304145975, 30.060098387627583]" name="Kabuye"></l-marker>
                  </l-map>
                </no-ssr>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
  },
}
</script>

<style scoped>
  .map {
    z-index: 0;
  }
  .is-active .al img {
    filter: grayscale(0%);
  }
  .al img {
    filter: grayscale(100%);
  }
  .slide {
    min-height: 10em;
    max-height: 40em;
  }
</style>