<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <h2 class="title has-text-centered">Inscription</h2>

          <b-notification v-if="error" type="is-warning">
            {{ error }}
          </b-notification>

          <form method="post" @submit.prevent="register">
            <b-field label="Nom d'utilisateur" label-for="username">
              <b-input id="username" v-model="username"></b-input>
            </b-field>
            <p>Doit contenir entre 3 et 50 caractères</p>
            <b-field label="Email" label-for="email">
                <b-input id="email" v-model="email" type="email"></b-input>
            </b-field>
            <p>Doit être valide. Exemple : example@gmail.com</p>
            <b-field label="Mot de passe" label-for="password">
              <b-input
                id="password"
                v-model="password"
                type="password"
                password-reveal
              ></b-input>
            </b-field>
            <p>- Doit contenir entre 8 et 30 caractères
              <br>- Doit avoir au minimum une majuscule
              <br>- Doit avoir au minimum un chiffre
              <br>- Doit avoir au moins un caractère de cette liste : <br>\ # ! ^ $ ( ) [ ] { } ? + * . |</p>
            <b-field
              label="Confirmation du mot de passe"
              label-for="password_confirm"
            >
              <b-input
                id="password_confirm"
                v-model="password_confirm"
                type="password"
                password-reveal
              ></b-input>
            </b-field>
            <b-field label="Nationalité">
                <b-select expanded v-model="nationality" icon="earth">
                    <option
                            v-for="nation in nationalities"
                            :value="nation.code"
                            :key="nation.id">
                            {{ nation.name }}
                    </option>
                </b-select>
            </b-field>
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth">
                <strong> Valider mon inscription </strong>
              </button>
            </div>
          </form>

          <div class="has-text-centered" style="margin-top: 20px">
            <p>
              Avez-vous déjà un compte ?
              <nuxt-link to="/login">Connexion</nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import countries from '@/assets/countries.json';
export default {
  data() {
    return {
      username: '',
      email: '',
      password: '',
      password_confirm: '',
      nationality: '',
      nationalities: {},
      error: ''
    }
  },
  async mounted() {
        try {
            this.nationalities = countries;
        } catch (err) {
            throw err;
        }
    },
  methods: {
    async register() {
      if (this.password === this.password_confirm) {
        try {
          // Enregistrement de l'utilisateur
          await this.$axios.post('auth/register', {
            pseudo: this.username,
            email: this.email,
            password: this.password,
            nationality: this.nationality
          })

          // Connexion immédiate
          await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password
            }
          })

          this.$router.push('connexion')
        } catch (error) {
          this.error = error.response.data.message
        }
      } else {
        this.error = 'Le mot de passe ne correspond pas'
      }
    }
  }
}
</script>