<template>
    <section>
        <div v-if="loggedInUser.isAdmin == 1">

            <b-notification v-if="error" type="is-warning">
                {{ error }}
            </b-notification>

            <b-field grouped group-multiline>
                <b-field label="Nombre d'utilisateurs par page">
                    <b-numberinput v-model="perPage" type="is-secondary" controls-position="compact" controls-rounded min="1" :max="max"></b-numberinput>
                </b-field>
            </b-field>

            <b-table :data="users">
                
                <b-table-column field="pseudo" label="Nom d'utilisateur" v-slot="props">
                    {{ props.row.pseudo }}
                </b-table-column>

                <b-table-column field="email" label="Adresse mail" v-slot="props">
                    {{ props.row.email }}
                </b-table-column>

                <b-table-column field="nationality" label="Nationalité" v-slot="props">
                    {{ props.row.nationality }}
                </b-table-column>

                <b-table-column label="Administrateur" v-slot="props">
                    <b-switch v-model="isAdmin[uuid2id[props.row.id]]" type="is-secondary"></b-switch>
                </b-table-column>

                <b-table-column label="Membre" v-slot="props">
                    <b-switch v-model="isMember[uuid2id[props.row.id]]" type="is-secondary"></b-switch>
                </b-table-column>

                <b-table-column v-slot="props">
                    <b-button type="is-danger" icon-right="delete" v-on:click="deleteUser(props.row.id)" />
                </b-table-column>

            </b-table>

            <hr>
            <b-pagination
                :total="total"
                v-model="current"
                :range-before="rangeBefore"
                :range-after="rangeAfter"
                :order="order"
                :size="size"
                :simple="isSimple"
                :rounded="isRounded"
                :per-page="perPage"
                :icon-prev="prevIcon"
                :icon-next="nextIcon"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
                @change="changePage">
            </b-pagination>

        </div>
        <div v-else>
            <p class="title has-text-centered">Accès Interdit</p><br>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'
    export default {
        middleware: 'auth',
        computed: {
            ...mapGetters(['isAuthenticated', 'loggedInUser'])
        },
        data() {
            return {
                total: 0,
                current: 1,
                perPage: 5,
                rangeBefore: 1,
                rangeAfter: 1,
                order: 'is-centered',
                size: '',
                isSimple: false,
                isRounded: false,
                prevIcon: 'chevron-left',
                nextIcon: 'chevron-right',
                max: 0,
                users: [],
                columns: [
                    {field: 'pseudo', label: "Nom d'utilisateur"},
                    {field: 'email', label: "Adresse mail"},
                    {field: 'nationality', label: "Nationalité"},
                ],
                isAdmin: [],
                isMember: [],
                uuid2id: [],
                id2uuid: [],
                isDeleted: false,
                error: ''
            }
        },
        async mounted() {
            try {
                const response1 = await this.$axios.get('users/count');
                this.total = response1.data.nbUsers;
                if(this.total < 5) {
                    this.perPage = this.total;
                }
                if(this.total < 10) {
                    this.max = this.total;
                }
                let limit = this.perPage;
                let offset = (this.current-1)*limit;
                const response2 = await this.$axios.get('users?limit=' + limit + '&offset=' + offset);
                this.users = response2.data.users;
                for (let i = 0 ; i < this.users.length ; i++) {
				    this.isAdmin[i] = !!Number(this.users[i].isAdmin);
			    }
                for (let i = 0 ; i < this.users.length ; i++) {
				    this.isMember[i] = !!Number(this.users[i].isMember);
			    }
                for (let i = 0 ; i < this.users.length ; i++) {
				    this.uuid2id[this.users[i].id] = i;
			    }
                for (let i = 0 ; i < this.users.length ; i++) {
				    this.id2uuid[i] = this.users[i].id;
			    }
            } catch (err) {
                this.error = err.response.data.message
            }
        },
        watch: {
            async perPage() {
                try {
                    let limit = this.perPage;
                    let offset = (this.current-1)*limit;
                    const response2 = await this.$axios.get('users?limit=' + limit + '&offset=' + offset);
                    this.users = response2.data.users;
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isAdmin[i] = !!Number(this.users[i].isAdmin);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isMember[i] = !!Number(this.users[i].isMember);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.uuid2id[this.users[i].id] = i;
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.id2uuid[i] = this.users[i].id;
			        }
                } catch (error) {
                    this.error = error.response.data.message
                }
            },
            isAdmin: {
                deep: true,
                async handler(after){
                    try{
                        for (let i = 0; i < after.length; i++) {
                            await this.$axios.put('users/' + this.id2uuid[i], {
                                isAdmin: after[i]
                            });
                        }
                    } catch (error) {
                        this.error = error.response.data.message
                    }
                },
            },
            isMember: {
                deep: true,
                async handler(after){
                    try {
                        for(let i = 0; i < after.length; i++) {
                            await this.$axios.put('users/' + this.id2uuid[i], {
                                isMember: after[i]
                            });
                        }                        
                    } catch (error) {
                        this.error = error.response.data.message
                    }
                }
            },
            
        },
        methods: {
            async changePage() {
                try {
                    let limit = this.perPage;
                    let offset = (this.current-1)*limit;
                    const response2 = await this.$axios.get('users?limit=' + limit + '&offset=' + offset);
                    this.users = response2.data.users;
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isAdmin[i] = !!Number(this.users[i].isAdmin);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isMember[i] = !!Number(this.users[i].isMember);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.uuid2id[this.users[i].id] = i;
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.id2uuid[i] = this.users[i].id;
			        }
                } catch (error) {
                    this.error = error.response.data.message
                }
                
            },
            async deleteUser(id) {
                try {
                    await this.$axios.delete('users/' + id);
                    const response1 = await this.$axios.get('users/count');
                    this.total = response1.data.nbUsers;
                    if(this.total < 5) {
                        this.perPage = this.total;
                    }
                    if(this.total < 10) {
                        this.max = this.total;
                    }
                    let limit = this.perPage;
                    let offset = (this.current-1)*limit;
                    const response2 = await this.$axios.get('users?limit=' + limit + '&offset=' + offset);
                    this.users = response2.data.users;
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isAdmin[i] = !!Number(this.users[i].isAdmin);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.isMember[i] = !!Number(this.users[i].isMember);
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.uuid2id[this.users[i].id] = i;
			        }
                    for (let i = 0 ; i < this.users.length ; i++) {
				        this.id2uuid[i] = this.users[i].id;
			        }
                    } catch (error) {
                        this.error = error.response.data.message
                    }
            }
        }
    }
</script>